---
layout: home
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
       {% if post.thumbnail %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img style="float: right; max-width: 40%; max-height: 200px; margin-left: 15px; margin-bottom: 10px;" src="{{ post.thumbnail }}">
        </a>
        {% endif %}
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>