---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
     La qoray {{ page.date | date: "%e %B %Y" }}
  </div>
  <div class="date">
     Qoray {{ page.author }}
  </div>

<div class="thumbnail">
  {% if page.thumbnail %}
    <a href="{{ site.baseurl }}{{ page.url }}">
            <img style="float: right; max-width: 85%; max-height: -webkit-fill-available; margin-left: 15px; margin-bottom: 10px;" src="{{ page.thumbnail }}">
        </a>
        {% endif %}
</div>  
  

  <div class="entry">
    {{ content }}
  </div>


  {% include disqus.html %}
</article>
